.bodyDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}

.countryDiv {
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: blue solid 3px;
    padding: 7px;
}

.countryDiv img {
    width: 200px;
    height: 150px;
}

#countryBody {
    display: flex;
    flex-direction: row;
    font-size: 60px;
}

#countryBody div div {
    padding: 20px;
}

#countryBody div img {
    width: 250px;
}

h1 {
    width: 100%;
    display: flex;
    align-self: center;
}
body{
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
}

.lab{
font-size: 40px;
color: darkgray;
}

.hide{
    display: none;
}